@import "main.css";

.root{}

.background{
    -fx-background-image: url("icons/bwh-background.jpg");
    -fx-background-insets: 400;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

